# Python Data Types

## Introduction
In Python, a data type is a classification that specifies which type of value a variable can hold. Understanding data types is fundamental for programming in Python. This notebook will cover the most common data types in Python, along with examples and exercises to help you practice.

### What You'll Learn
- **Basic Data Types**: int, float, str, bool, list, tuple, set, dict
- **Examples for Each Data Type**
- **Exercises to Test Your Understanding**

## 1. Integer (`int`)

In [ ]:
# Example
x = 10
y = -5
z = 123456789

print(type(x), x)
print(type(y), y)
print(type(z), z)

a = 38765353532785
print(type(a), a)

<class 'int'> 10
<class 'int'> -5
<class 'int'> 123456789
<class 'int'> 38765353532785

### Exercise
Create a variable `a` and assign it any integer value. Print the type and value of `a`.

## 2. Float (`float`)

In [ ]:
# Example
pi = 3.14159
negative_float = -2.718
large_float = 1.234e5 # this is an abbreviation for 1.234 * (10 ** 5) = 1.234 * 100000 = 123400.0

print(type(pi), pi)
print(type(negative_float), negative_float)
print(type(large_float), large_float)

<class 'float'> 3.14159
<class 'float'> -2.718
<class 'float'> 123400.0

### Exercise
Create a variable `b` and assign it any float value. Print the type and value of `b`.

## 3. String (`str`)

In [ ]:
# Example
name = "Simon"
greeting = 'Hello, World!'
multi_line = '''This is a
multi-line string.'''

print(type(name), name)
print(type(greeting), greeting)
print(type(multi_line), multi_line)

statement = 'I like teaching this class'
print(statement, type(statement))

<class 'str'> Simon
<class 'str'> Hello, World!
<class 'str'> This is a
multi-line string.
I like teaching this class <class 'str'>

### Exercise
Create a variable `c` and assign it any string value. Print the type and value of `c`.

## 4. Boolean (`bool`)

In [ ]:
# Example
is_sunny = True
is_rainy = False

print(type(is_sunny), is_sunny)
print(type(is_rainy), is_rainy)

a = 10
b = 5
boolean = a > b
print(type(boolean), boolean)

semyon_age = 44
semyon_is_young = semyon_age < 20
print(type(semyon_is_young), semyon_is_young)

<class 'bool'> True
<class 'bool'> False
<class 'bool'> True
<class 'bool'> False

### Exercise
Create a variable `d` and assign it a boolean value (`True` or `False`). Print the type and value of `d`.

## 5. List (`list`)

In [ ]:
# Example
fruits = ['apple', 'banana', 'cherry']
numbers = [1, 2, 3, 4, 5]
mixed = [1, 'two', 3.0, True]

print(type(fruits), fruits)
print(type(numbers), numbers)
print(type(mixed), mixed)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(type(list_of_lists), list_of_lists)


for i in mixed:
    if type(i) == str:
        print(i)
    else:
        print(f'the type of {i} is not str')

<class 'list'> ['apple', 'banana', 'cherry']
<class 'list'> [1, 2, 3, 4, 5]
<class 'list'> [1, 'two', 3.0, True]
<class 'list'> [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
the type of 1 is not str
two
the type of 3.0 is not str
the type of True is not str

### Exercise
Create a variable `e` and assign it a list containing at least 3 different types of elements (e.g., integer, string, float). Print the type and value of `e`.

## 6. Tuple (`tuple`)

In [ ]:
# Example
coordinates = (10.0, 20.0)
info = ('Simon', 25)

print(type(coordinates), coordinates)
print(type(info), info)

<class 'tuple'> (10.0, 20.0)
<class 'tuple'> ('Simon', 25)

### Exercise
Create a variable `f` and assign it a tuple containing at least 2 elements. Print the type and value of `f`.

## 7. Set (`set`)

In [ ]:
# Example
unique_numbers = {1, 2, 3, 3, 4}
fruits_set = {'apple', 'banana', 'cherry'}

print(type(unique_numbers), unique_numbers)
print(type(fruits_set), fruits_set)

<class 'set'> {1, 2, 3, 4}
<class 'set'> {'banana', 'cherry', 'apple'}

In [ ]:
unique_numbers

{1, 2, 3, 4}

### Exercise
Create a variable `g` and assign it a set containing at least 3 unique elements. Print the type and value of `g`.

## 8. Dictionary (`dict`)

In [ ]:
# Example
person = {'name': 'Simon', 'age': 25}
scores = {'math': 90, 'science': 85}

print(type(person), person)
print(type(scores), scores)

<class 'dict'> {'name': 'Simon', 'age': 25}
<class 'dict'> {'math': 90, 'science': 85}

In [ ]:
dictionary = {1: "Monday", 2: "Tuesday", 3: "Wednesday"}
print(dictionary)
dictionary[1]

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}

'Monday'

In [ ]:
person['age']

25

In [ ]:
persons = {'Simon': {'name': 'Simon', 'age': 25}, 'Semyon': {'name': 'Semyon', 'age': 44}}
print(persons['Semyon'])
print(persons['Simon'])

{'name': 'Semyon', 'age': 44}
{'name': 'Simon', 'age': 25}

In [ ]:
persons['Semyon']['age']

44

### Exercise
Create a variable `h` and assign it a dictionary with at least 2 key-value pairs. Print the type and value of `h`.

## 9. List Comprehension

List comprehension provides a concise way to create lists. It consists of brackets containing an expression followed by a `for` clause, and optionally, `if` clauses.
        
### Syntax
```python
[expression for item in iterable if condition]
```

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
# Example
squares = [x**2 for x in range(10)]
even_squares = [x**2 for x in range(10) if x % 2 == 0]

print("Squares:", squares)
print("Even Squares:", even_squares)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Even Squares: [0, 4, 16, 36, 64]

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

### Exercise
Create a list comprehension that generates a list of the cubes of all odd numbers from 1 to 20. Assign this list to the variable `i` and print it.

## 10. Dictionary Comprehension

Dictionary comprehension is similar to list comprehension but is used to create dictionaries.

### Syntax
```python
{key_expression: value_expression for item in iterable if condition}
```

In [ ]:
integers = {x: x for x in range(10)}
print(integers)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [ ]:
# Example
numbers = [1, 2, 3, 4, 5]
square_dict = {x: x**2 for x in numbers}
even_square_dict = {x: [f'the square of {x} is {x**2}', f'the cube of {x} is {x**3}']
                    for x in numbers if x % 2 == 0}

print("Square Dict:", square_dict)
print("Even Square Dict:", even_square_dict)

Square Dict: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Even Square Dict: {2: ['the square of 2 is 4', 'the cube of 2 is 8'], 4: ['the square of 4 is 16', 'the cube of 4 is 64']}

### Exercise
Create a dictionary comprehension that maps numbers from 1 to 10 to their negative values (e.g., 1: -1). Assign this dictionary to the variable `j` and print it.

## Conclusion
You have now learned about additional powerful features in Python: **list comprehensions** and **dictionary comprehensions**. These features enable you to create lists and dictionaries efficiently with minimal syntax. Practice the exercises to deepen your understanding!